body {
  background-color: green;
  display: flex;
  justify-content: center;
}
.red {
  background: red;
}
.yellow {
  background: yellow;
}
.blue {
  background: blue;
}
.purple {
  background: purple;
}
.orange {
  background: orange;
}

/*#startingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
}
#startButton {
  text-align: center;
  font-size: 25px;
}*/
#gameScreen {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
#pieceHome4,
#pieceHome2,
#pieceHome8,
#pieceHome6 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
#pieceHome2,
#pieceHome8 {
  transform: rotate(90deg);
}
#pieceHome5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#dieHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100px;
  height: 100px;
  background: teal;
}
.dice {
  background: white;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 25px;
}
#pieceHome1,
#pieceHome3,
#pieceHome7,
#pieceHome9 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tokens {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 6px;
  margin: 1px;
}
#passTurnBtn {
  flex: 2;
}
/*.firstTokens {
  width: 15px;
  height: 15px;
  background: red;
  border: 1px solid black;
  border-radius: 6px;
  margin: 1px;
}
.secondTokens {
  width: 15px;
  height: 15px;
  background: green;
  border: 1px solid black;
  border-radius: 6px;
  margin: 1px;
}
.thirdTokens {
  width: 15px;
  height: 15px;
  background: blue;
  border: 1px solid black;
  border-radius: 6px;
  margin: 1px;
}
.fourthTokens {
  width: 15px;
  height: 15px;
  background: purple;
  border: 1px solid black;
  border-radius: 6px;
  margin: 1px;
}*/
